@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

.popin {
  font-family: 'Poppins', sans-serif;

}

.tomato {
  color: tomato;
}

.bebas {
  font-family: 'Bebas Neue', cursive;

}

body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}